body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  font-size: 0.9rem;
}

nav {
  text-align: right;
}

.navItem {
  padding-left: 1rem;
}

.border {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.displayLyric {
  margin: auto;
  width: 16rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  justify-self: flex-end;
  font-family: monospace;
}

.centerColumn {
  position: absolute;
  bottom: 40vh;
  /* top: 50%; */
  left: 0;
  right: 0;
  flex-direction: column;
  /* align-items: center; */

  /* background-color: blue; */
}

.word {
  padding: 1.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button,
input {
  margin: 0.25rem;
  width: 100%;
}
